@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
:root{
    --main-bg-color:#2874f0;
}
*{
    padding: 0;
    margin: 0;
}
header{
    
    background: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 88px;
    padding: 0 25px;
}
nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0 23px;
}


nav ul li a{
    color: blanchedalmond;
    text-decoration: none;
    
}
nav ul li a:hover{
    color: rgb(46, 10, 173);
    text-decoration: none;
    font-style: italic;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    width: 30vw;
    height: 27px;
    border-radius: 3px;
    margin: 0 16px 0 56px;
}
.search button{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.slider{
   
    width: 80vw;
    margin:12px auto;
    overflow: hidden;
}
.card{
    max-width: 91vw;
    margin: 37px auto;
}
.cards{
    display: flex;  
    justify-content: center;
    overflow: hidden;
}
.card-item{
    display:inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
}
.card h2{
    font-family: 'Ubuntu', sans-serif;
}
.container{
    min-height:calc(100vh - 58px -  12vh);
}
footer{
    height: 12vh;
    background-color: var(--main-bg-color);
    color: blanchedalmond;
    font-family: 'Lato', sans-serif;
}